[Unit]
Description=Revisa cada minuto si hay commits nuevos en main

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s

[Install]
WantedBy=timers.target
